_site
node_modules
vendor
*.min.*

# Theme internals (don’t format upstream theme files)
_includes
_layouts
_sass
assets/**
_scripts/**
_books/**

# CI/workflows & misc
.github/**
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.pdf
lighthouse_results/**
INSTALL.md
